.divItemCart {
 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
      

}

.itemCart {
   width: 50%;
    display: flex;
    justify-content: space-around;
    background-color: grey;
    margin-top: 10px;
    border: solid 1px black;
 
    
}

.itemCart img {
    height: 200px;
    width: 200px;
    
}


